@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jakarta Plus Sans", Helvetica;
    background: #d4ddd8;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
        url("img/background.png");
    background-size: cover;
}

/* NAVBAR */
.navbar {
    background-color: #27563a;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 24px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #27563a;
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 20px;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-actions a {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    margin: 2px;
}

.user-actions a:hover {
    background-color: #9CBDA9;
    color: black;
}

/* HEROES SECTION */
.h-txt {
    max-width: 650px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
}

.h-txt span {
    letter-spacing: 2px;
}

.h-txt h1 {
    font-size: 3.5em;
}

/* SEKILAS PROFILE KAMI */
.profile-kami {
    display: flex;
    background-color: #d4ddd8;
    padding: 40px 0;
    align-items: center;
}

.profile-kami .text-container {
    flex: 1;
    padding: 20px;
}

.profile-kami h4 {
    text-align: left;
}

.profile-kami h2 {
    font-size: 40px;
    color: #000000;
    margin: 0;
    text-align: left;
}

.profile-kami p {
    font-size: 20px;
    color: #000000;
    margin: 0;
    text-align: justify;
}

.profile-kami .btn-learn-more {
    padding: 10px 20px;
    background-color: #27563a;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin-top: 10px;
    overflow: hidden;
    max-width: 200px;
    margin-left: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-kami .btn-learn-more:hover {
    border: 1px solid #27563a;
}


.profile-kami img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* PREVIEW JASA KAMI */
.jasakami {
    background-color: #d4ddd8;
    text-align: center;
    padding: 20px;
}

.jasakami h2 {
    text-align: center;
    margin-top: 0;
    font-size: 40px;

}

.jasakami p {
    text-align: center;
}

.section-title {
    margin-bottom: 5px;
}

.section-description {
    margin-bottom: 20px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    text-align: center;
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.service-content {
    flex: 1;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.service-item img {
    max-width: 100%;
    height: auto;
}

.service-item h3 {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}



/* JASA LAINNYA */
.layanan-lain {
    background: #ffffff;
    padding: 30px 30px;
    text-align: center;
    border-radius: 30px;
    margin: 30px;
}

.layanan-lain h2 {
    font-size: 24px;
    margin: 10px;
}

.btn-lihat-lebih {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27563a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-lihat-lebih:hover {
    border: 1px solid #27563a;
}

/* PREVIEW ARTIKEL */
.artikel {
    background-color: #d4ddd8;
    text-align: center;
    margin: 40px;
}

.artikel h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.article-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.article-content {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.article-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.article-content h3 {
    font-size: 25px;
    margin-top: 10px;
}

.article-content p {
    font-size: 18px;
    color: #302f2f;
    margin-bottom: 20px;
}

.btn-baca-lebih {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27563a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-baca-lebih:hover {
    border: 1px solid #27563a;
}

/* PREVIEW LANGGANAN*/
.pre-langganan {
    text-align: center;
    margin-top: 100px;
}

.pre-langganan h2 {
    font-weight: bold;
    font-size: 40px;
}

.img-langganan {
    margin-top: 20px;
}

.btn-langganan {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27563a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-langganan:hover {
    border: 1px solid #27563a;
}

/* APA KATA MEREKA*/
.txt-testi {
    margin-top: 100px;
    margin-bottom: 100px;
}

.txt-testi h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 12px;
}

.testimonial-box {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonial {
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 2px 12px 18px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 1px solid black;
}

.name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.rating {
    color: #ffcc00;
    font-size: 16px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

/* GELOMBANG KEBAIKAN */
.gelombang {
    background: url('img/bg2.png') center center no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 100px;
}

.txt-gelombang {
    background: #D4DDD8;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 0;
}

.btn-gelombang {
    display: inline-block;
    padding: 10px 150px;
    background-color: #27563a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-gelombang:hover {
    border: 1px solid #27563a;
}


/* FOOTER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #d4ddd8;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #27563a;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #27563a;
    padding-left: 8px;
}

.footer-col .social-media a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #000000;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    margin: 0 10px 10px 0;
    transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
}

.fixed-footer {
    width: 100%;
    position: relative;
    background: #27563a;
    padding: 10px 0;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
}


/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/*LOGIN & REGISTER PAGE */
.image-container {
    background: url("img/bglogin2.png") center no-repeat;
    background-color: #000000;
    background-size: 500px;
    height: 100vh;
}

.form-container {
    background: url("img/bglogin1.png");
    display: flex;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box h4 {
    font-weight: bold;
    color: #fff;
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: white;
    padding-left: 45px;
}

.form-box .form-input span {
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #27563a;
}

.form-box .form-input input::placeholder {
    padding-left: 0px;
    color: #27563a;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid {
    border-bottom: 2px solid #27563a;
}

.form-box input[type="checkbox"]:not(:checked)+label:before {
    background: transparent;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
}

.form-box .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #27563a;
    border: 0px;
}

.form-box button[type="submit"] {
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #27563a;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
}

.form-box button[type="submit"]:hover {
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.55);
}

.register-link,
.login-link {
    color: #fff;
    font-weight: bold;
}

.register-link:hover,
.login-link:hover {
    color: #6f8e7c;
}

.form-box .btn-social {
    color: #ffffff;
    border: 0;
    margin-bottom: 10px;
}

.form-box .btn-google {
    background: #bf3b31;
}

.form-box .btn-apple {
    background: #000000;
}

.form-box .btn-facebook {
    background: #3b5998;
}

.form-box .btn-google:hover {
    background: #bf3b31;
    color: #000000;
}

.form-box .btn-apple:hover {
    background: #ffffff;
    color: #000000;
}

.form-box .btn-facebook:hover {
    background: #3b5998;
    color: #000000;
}

/* CONTACT */
.contactUs-Konten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    margin-left: auto;
}

.contactUs-Konten img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contact-header h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 0;
}

.contact-header p {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.icon {
    text-align: left;
    margin-left: 20px;
    margin: 10px;
}

.icon i {
    font-size: 24px;
    color: #000000;
}

.icon h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #000000;
}

.icon p {
    font-size: 16px;
    margin: 5px 0;
    color: #777777;
}

/* ABOUT US */
.aboutUs-Konten {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: flex-start;
}

.aboutUs {
    text-align: justify;
    padding: 20px;
    margin-top: 20px;
    margin-left: 30px;
}


.aboutUs h4 {

    margin-bottom: 10px;
}

.aboutUs h2 {
    margin-bottom: 35px;
    font-size: 30px;
}

.aboutUs p {
    margin-top: 20px;
    line-height: 200%;
}

.visi {
    margin-top: 70px;
}

.misi {
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
}

.misi h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.misi p {
    margin-top: 20px;
    line-height: 200%;
}

.misi img {
    display: block;
    margin: 0 auto;
}

/* ARTIKEL  */
.mySlides {
    display: none;
}

.w3-container {
    text-align: center;
    margin-top: 50px;
}

.w3-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.w3-card {
    margin: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    background: white;
    margin-top: 30px;
    margin-bottom: 50px;
}

.w3-card img {
    width: 100%;
    height: 200px;
}

.w3-content p {
    font-size: 14px;
    color: #777777;
    margin-right: 10px;
    margin-bottom: 10px;
}

.w3-content h4 {
    font-size: 18px;
    text-align: center;
}

/* ARTIKEL 1 */
.container1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container1 p {
    color: #706f6f;
}

.header-artikel1 {
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.hero-artikel1 {
    height: 600px;
    background-image: url(img/3R.jpg);
    background-size: cover;
    margin-top: 50px;
}

h3 {
    margin-top: 20px;
}

.paragraf1 p {
    color: #000000;
    text-align: justify;
    margin-top: 10px;
}

/* ARTIKEL 2 */
.container {
    font-family: "Plus Jakarta Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container p {
    color: #706f6f;
}

.header-artikel {
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.hero-artikel {
    height: 600px;
    background-image: url(img/artikelp2.png);
    background-size: cover;
    margin-top: 50px;
}

h3 {
    margin-top: 20px;
}

.paragraf p {
    color: #000000;
    text-align: justify;
    margin-top: 10px;
}

.paragraf ul li {
    text-align: justify;
    list-style-type: square;
    list-style-position: inside;
}

/* ARTIKEL 3 */
.container3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container3 p {
    color: #706f6f;
}

.header-artikel3 {
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.hero-artikel3 {
    height: 600px;
    background-image: url(img/SampahPlastik.jpg);
    background-size: cover;
    margin-top: 50px;
}

h3 {
    margin-top: 20px;
}

.paragraf3 p {
    color: #000000;
    text-align: justify;
    margin-top: 10px;
}

/* FORM LANGGANAN */
.form-langganan-page {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.form-langganan-page .overlap-group-wrapper {
    background-color: #e5e5e5;
    width: 1440px;
    height: 861px;
}

.form-langganan-page .overlap-group {
    position: relative;
    height: 861px;
    background-image: url(./img/photo-11.png);
    background-size: cover;
    background-position: 50% 50%;
}

.form-langganan-page .text-wrapper {
    position: absolute;
    width: 604px;
    top: 37px;
    left: 407px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.form-langganan-page .div {
    position: absolute;
    top: 92px;
    left: 620px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.form-langganan-page .bijakkelolasampah {
    position: absolute;
    width: 1272px;
    top: 140px;
    left: 79px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.form-langganan-page .ellipse {
    position: absolute;
    width: 71px;
    height: 70px;
    top: 23px;
    left: 75px;
    object-fit: cover;
}

.form-langganan-page .frame {
    position: absolute;
    width: 1069px;
    height: 567px;
    top: 266px;
    left: 185px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.form-langganan-page .frame-2 {
    display: flex;
    flex-direction: column;
    width: 255px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 52px;
    left: 52px;
}

.form-langganan-page .form-label {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}

.form-langganan-page .form-control-email {
    display: flex;
    height: 56px;
    align-items: center;
    gap: 10px;
    padding: 21px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
}

.form-langganan-page .text-wrapper-2 {
    position: relative;
    flex: 1;
    margin-top: -4px;
    margin-bottom: -2px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
}

.form-langganan-page .p {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.form-langganan-page .frame-3 {
    display: flex;
    flex-direction: column;
    width: 534px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 158px;
    left: 52px;
}

.form-langganan-page .form-label-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #313131;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}

.form-langganan-page .caret-down {
    position: relative;
    width: 16px;
    height: 16px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.form-langganan-page .frame-4 {
    display: flex;
    flex-direction: column;
    width: 948px;
    height: 184px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 273px;
    left: 52px;
}

.form-langganan-page .div-wrapper {
    display: flex;
    height: 144px;
    align-items: flex-start;
    gap: 10px;
    padding: 21px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
}

.form-langganan-page .text-wrapper-3 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
}

.form-langganan-page .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-bottom: -9px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.form-langganan-page .frame-5 {
    display: flex;
    flex-direction: column;
    width: 255px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 52px;
    left: 331px;
}

.form-langganan-page .frame-6 {
    display: flex;
    flex-direction: column;
    width: 255px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 53px;
    left: 610px;
}

.form-langganan-page .frame-7 {
    display: flex;
    width: 258px;
    height: 77px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 11px 26px;
    position: absolute;
    top: 462px;
    left: 425px;
    background-color: #27563a;
    border-radius: 50px;
    overflow: hidden;
    color: white;
}

.form-langganan-page .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

/* JASA KONTEN */
.section-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    width: 80%;
    margin: 60px auto;
    text-align: center;
    justify-content: center;
}

.card {
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
}

.card__img {
    width: 100%;
    display: block;
}

.card__details {
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
}

.card__details ul {
    list-style: none;
    padding: 0;
}

.card__details ul p {
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
}

.section-card .btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    padding: 14px 20px;
    border-radius: 30px;
    background-color: #27563a;
    width: 200px;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 135%;
}


/* POPUP CONTEN */
.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.popup__content {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
    transition: all 4s 0.1s;
}

.popup__img {
    display: flex;
    width: 100;
    margin-bottom: 30px;
}

.popup__img img {
    display: block;
    width: 33.3333%;
}

.popup__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.popup__header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.popup_header h2 {
    font-size: 20px;
}

.popup__text {
    padding: 0 36px;
    line-height: 1.4;
    font-size: small;
}

.popup__text p:not(:last-child) {
    margin-bottom: 16px;
}

.btn .popup__btn {
    align-items: center;
    margin: 10%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    justify-content: center;
}

.popup__btn {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 500;
    display: block;
    padding: 14px 20px;
    border-radius: 30px;
    background-color: #27563a;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 20px;
}


#popup:target {
    opacity: 1;
    visibility: visible;
}

#popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup__close:link,
.popup__close:visited {
    position: absolute;
    top: 12px;
    right: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    transition: all 0.3s;
}

.popup__close:hover,
.popup__close:active {
    color: #d4ddd8;
}

.form-pemesanan {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.form-pemesanan .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.form-pemesanan .overlap {
    position: absolute;
    width: 1440px;
    height: 939px;
    top: 0;
    left: 0;
}

.form-pemesanan .schedule-a {
    position: absolute;
    width: 1440px;
    height: 855px;
    top: 84px;
    left: 0;
    background-color: #d4ddd8;
}

.form-pemesanan .frame {
    top: 72px;
    position: absolute;
    width: 638px;
    height: 711px;
    left: 72px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.form-pemesanan .frame-2 {
    display: flex;
    flex-direction: column;
    width: 255px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 52px;
    left: 52px;
}

.form-pemesanan .form-label {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}

.form-pemesanan .form-control-email {
    display: flex;
    height: 56px;
    align-items: center;
    gap: 10px;
    padding: 21px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
}

.form-pemesanan .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -4px;
    margin-bottom: -2px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
}

.form-pemesanan .p {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.form-pemesanan .frame-3 {
    display: flex;
    flex-direction: column;
    width: 534px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 158px;
    left: 52px;
}

.form-pemesanan .form-label-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #313131;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22px;
    white-space: nowrap;
}

.form-pemesanan .caret-down {
    position: relative;
    width: 16px;
    height: 16px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.form-pemesanan .frame-4 {
    display: flex;
    flex-direction: column;
    width: 534px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 273px;
    left: 52px;
}

.form-pemesanan .div-wrapper {
    display: flex;
    height: 144px;
    align-items: flex-start;
    gap: 10px;
    padding: 21px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
}

.form-pemesanan .text-wrapper-2 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
}

.form-pemesanan .frame-5 {
    display: flex;
    flex-direction: column;
    width: 255px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 52px;
    left: 331px;
}

.form-pemesanan .frame-6 {
    display: flex;
    width: 158px;
    height: 47px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 11px 26px;
    position: absolute;
    top: 612px;
    left: 52px;
    background-color: #27563a;
    border-radius: 50px;
    overflow: hidden;
    color: white;
}

.form-pemesanan .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.form-pemesanan .text-wrapper-4 {
    position: absolute;
    width: 594px;
    top: 101px;
    left: 774px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #08110c;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .overlap-group {
    position: absolute;
    width: 594px;
    height: 642px;
    top: 141px;
    left: 774px;
}

.form-pemesanan .line {
    position: absolute;
    width: 594px;
    height: 1px;
    top: 194px;
    left: 0;
    object-fit: cover;
}

.form-pemesanan .frame-7 {
    position: absolute;
    width: 387px;
    height: 242px;
    top: 0;
    left: 0;

}

.form-pemesanan .group {
    position: relative;
    width: 142px;
    height: 30px;
    top: 75px;
}

.form-pemesanan .whats-app {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}

.form-pemesanan .instagram {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 56px;
}

.form-pemesanan .facebook-circled {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 112px;
}

.form-pemesanan .n-e {
    position: absolute;
    width: 500px;
    height: 422px;
    top: 220px;
    left: 15px;
    object-fit: cover;
}

.form-pemesanan .frame-8 {
    top: 102px;
    position: absolute;
    width: 638px;
    height: 711px;
    left: 72px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.form-pemesanan .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-left: -1px;
    margin-right: -1px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.form-pemesanan .overlap-2 {
    position: absolute;
    width: 594px;
    height: 242px;
    top: 99px;
    left: 774px;

}

.form-pemesanan .text-wrapper-6 {
    position: absolute;
    width: 594px;
    top: 2px;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #08110c;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .img {
    position: absolute;
    width: 594px;
    height: 1px;
    top: 236px;
    left: 0;
    object-fit: cover;
}

.form-pemesanan .frame-9 {
    display: inline-flex;
    height: 46px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 21px 32px;
    position: absolute;
    top: 149px;
    left: 0;
    background-color: #27563a;
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.form-pemesanan .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -9px;
    margin-bottom: -7px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .group-2 {
    position: absolute;
    width: 142px;
    height: 30px;
    top: 75px;
    left: 0;
}

.form-pemesanan .text-wrapper-8 {
    position: absolute;
    width: 594px;
    top: 42px;
    left: 82px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #08110c;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .n-e-2 {
    position: absolute;
    width: 500px;
    height: 422px;
    top: 361px;
    left: 789px;
    object-fit: cover;
}

.form-pemesanan .navbar {
    position: absolute;
    width: 1440px;
    height: 93px;
    top: 0;
    left: 0;
    background-color: #27563a;
}

.form-pemesanan .overlap-3 {
    position: absolute;
    width: 151px;
    height: 25px;
    top: 30px;
    left: 285px;
}

.form-pemesanan .text-wrapper-9 {
    position: absolute;
    width: 151px;
    top: 0;
    left: 0;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .caret-down-2 {
    left: 102px;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 6px;
}

.form-pemesanan .text-wrapper-10 {
    position: absolute;
    width: 151px;
    top: 30px;
    left: 737px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .overlap-4 {
    position: absolute;
    width: 284px;
    height: 25px;
    top: 30px;
    left: 436px;
}

.form-pemesanan .text-wrapper-11 {
    position: absolute;
    width: 151px;
    top: 0;
    left: 133px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .caret-down-3 {
    left: 242px;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 6px;
}

.form-pemesanan .text-wrapper-12 {
    position: absolute;
    width: 151px;
    top: 30px;
    left: 933px;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .ellipse {
    position: absolute;
    width: 71px;
    height: 70px;
    top: 11px;
    left: 61px;
    object-fit: cover;
}

.form-pemesanan .line-2 {
    position: absolute;
    width: 151px;
    height: 2px;
    top: 65px;
    left: 286px;
}

.form-pemesanan .frame-wrapper {
    position: absolute;
    width: 1480px;
    height: 85px;
    top: 939px;
    left: -40px;
    background-color: #27563a;
}

.form-pemesanan .frame-10 {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    position: relative;
    top: 24px;
    left: 72px;
}

.form-pemesanan .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Sans", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.form-pemesanan .ic-outline-copyright {
    position: relative;
    width: 13px;
    height: 13px;
}

/* Karir fulltime */
.menu h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    padding-top: 2rem;
    padding-left: 3rem;
}

.menu h3 {
    font-size: 1rem;
    padding-left: 3rem;
}

.card--1 .card--4 {
    margin: 0 30px;
}

.gallery {
    background-color: #f3f2f2;
    margin: 40px 20px;
    border: 1px solid #cac7c7;
    float: left;
    width: 400px;
}

.gallery:hover {
    border: 1.5px solid #9e9595;
}

.gallery img {
    width: 100%;
    height: auto;

}

.gallery h1 {
    padding: 0.5rem;
    text-align: left;
}

.lihat {
    padding: 0.5rem;
}

.popup__text-1 {
    padding: 0 36px;
    line-height: 1.4;
    font-size: small;
    z-index: 4;
}

/* Karir part time */
.content {
    padding: 40px 20px;
}

.frame-atas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.title {
    text-align: center;
    padding-bottom: 30px;
}

.title u {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-underline-offset: 10px;
}

.kotak {

    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: #ffffff;
}

.isi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isi>* {
    flex: 1;
    padding-bottom: 30px;
}

.isi-syarat {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.isi-syarat img {
    max-width: 100px;
    margin-right: 10px;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gambar-kiri,
.gambar-kanan {
    margin: 10px;
}

.gambar-kiri img,
.gambar-kanan img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.gambar-kiri img:hover,
.gambar-kanan img:hover {
    transform: scale(0.8);
}

.container-2 {
    display: flex;
    justify-content: center;
}

.gambar1,
.gambar2,
.gambar3 {
    margin: 10px;
    /* Jarak antara gambar */
}

.judul {
    text-align: center;
    padding-bottom: 20px;
}

.gambar1 img:hover,
.gambar2 img:hover,
.gambar3 img:hover {
    transform: scale(0.8);
}

.gambar1 img:hover,
.gambar2 img:hover,
.gambar3 img:hover {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}